/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

/* Reset end */

/* Animation */
:root {
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Colors */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* Typography */
.header-one {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.header-two {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.header-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.body-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.body-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.link-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

/* Body Style */
body {
  color: var(--slate);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
}

main {
  flex-grow: 1;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.current {
  color: var(--ocean);
}

/* Hedder */
header {
  height: 72px;
  background-color: var(--white);
  display: flex;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: inline-flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.nav-list {
  display: inline-flex;
  gap: 40px;
}

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.header .logo {
  padding: 24px 0;
  margin: 0 76px 0 0;
}

.logo-studio-b {
  color: var(--navyblue);
}

.nav-list-item {
}

.nav-list-link {
  position: relative;
  color: var(--navyblue);
  padding: 24px 0;
  display: block;
  transition: color var(--animation);
}

.nav-list-link.current {
  color: var(--ocean);
}

.nav-list-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--ocean);
}

.nav-list-link.current::after {
  background-color: var(--ocean);
}

.contacts {
  font-style: normal;
  color: var(--slate);
  padding: 24px 0;
}

.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

.contacts-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contacts-item {
  transition: color var(--animation);
}

.contacts-link {
  color: var(--slate);
  transition: color var(--animation);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

/* Footer */

.footer {
  padding: 100px 0;
  background-color: var(--navyblue);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  margin: 0 0 16px 0;
}

.logo-studio-w {
  color: var(--cloud);
}

.footer-box {
  margin: 0 120px 0 0;
}

.footer-desc {
  color: var(--cloud);
  width: 264px;
}

.footer-social {
  color: var(--white);
  margin: 0 80px 0 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--green);
}

.footer-social .body-medium {
  margin: 0 0 16px 0;
}

.footer-icon {
  fill: var(--cloud);
}

.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--animation);
}

.subscribe-title {
  color: var(--white);
  margin: 0 0 16px 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 40px;
}

.subscribe-box {
}

.email-box {
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  height: 40px;
  width: 264px;
  padding: 8px 16px;

  outline: transparent;
}

.email-box::placeholder {
  color: var(--white);
}

.subscribe-btn {
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;

  min-width: 165px;
  padding: 8px 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--animation);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--ocean);
}

.subscribe-icon {
  fill: var(--white);
  margin: 0 0 0 16px;
}

/* Studio */
.hero {
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 188px 0;
  text-align: center;

  /* After correction */
  margin: 0 auto;
  background-position: center;
  max-width: 1440px;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-button {
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  text-align: center;
  min-width: 169px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;

  transition: background-color var(--animation);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* Section 2 */

.features {
  padding: 96px 0;
  /* padding: 120px 0; */
}

.feature-list {
  /* display: flex; */
  /* gap: 24px; */
}

.feature-desc {
  color: var(--slate);
}

.feature-item {
  /* flex-basis: calc((100% - 72px) / 4); */
}

.feature-icon-wrapper {
  display: none;

  /* width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  margin: 0 0 8px 0;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.features-icon {
}

.feature-name {
  color: var(--navyblue);
  margin: 0 0 8px 0;
}

/* Section 2 Mobile */
@media screen and (max-width: 428px) {
  .feature-name {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }
  .feature-desc {
    font-weight: 500;
  }
  .feature-list :not(:last-of-type) {
    margin-bottom: 72px;
  }
}

/* Section 3 */

.wawd {
  padding: 0 0 120px 0;
}

.wawd-list {
  display: flex;
  gap: 24px;
}

.wawd-titel {
  color: var(--navyblue);
  text-align: center;
  margin: 0 0 72px 0;
}

.wawd-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* Section 4 */

.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-title {
  text-align: center;
  color: var(--navyblue);
  margin: 0 0 72px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
  width: 264px;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-cont {
  padding: 32px 0;
}

.cont-name {
  margin: 0 0 8px 0;
}

.team-desc {
  color: var(--slate);
  margin: 0 0 8px 0;
}

.team-card-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.link-wrapper {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--animation);
}

.card-icon {
  fill: var(--cloud);
}

.team-list .social-link:hover,
.team-list .social-link:focus {
  background-color: var(--ocean);
}

/* Section 5 */
.customers {
  background: #fff;
  padding: 120px 0;
}

.customers-title {
  text-align: center;
  margin: 0 0 72px 0;
  color: var(--navyblue);
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  color: var(--lightslate);
  transition: border-color var(--animation), color var(--animation);
}

.customers-logo-icon {
  fill: currentColor;
  justify-content: center;
  align-items: center;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* Portfolio */

.portfolio {
  padding: 96px 0 120px 0;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0px 0 72px 0;
}

.filter-btn {
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--animation), background-color var(--animation),
    border-color var(--animation), box-shadow var(--animation);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portf-item {
  flex-basis: calc((100% - 48px) / 3);
  color: var(--grey);
}

.portf-link {
  display: block;
  transition: box-shadow var(--animation);
}

.portf-link:hover .overlay,
.portf-link:focus .overlay {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portf-link:hover,
.portf-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portf-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--cloud);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--animation);
  width: 100%;
  height: 100%;
  background-color: var(--iris);
}

.portf-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portf-name {
  color: var(--navyblue);
  margin: 0 0 8px 0;
}

.portf-desc {
  color: var(--slate);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal);
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  /* min-height: 584px; */
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--animation);
}

.order-form {
  color: var(--lightslate);
}

.order-form-item {
  margin: 0 0 8px 0;
}

.modal-title {
  color: var(--navyblue);
  display: block;
  text-align: center;
  margin: 0 0 16px 0;
}

.modal-form-box {
  position: relative;
}

.modal-form-input,
.form-comment {
  width: 100%;
  height: 40px;
  color: var(--navyblue-modal);
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
}

.modal-form-input {
  position: relative;
  padding: 10px 38px;
  outline: transparent;
  transition: border-color var(--animation);
}

.modal-form-input:focus {
  border-color: var(--iris);
}

.modal-form-icon {
  fill: var(--navyblue);
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  pointer-events: none;
  transition: fill var(--animation);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}

.form-label {
  display: block;
  margin-bottom: 4px;
}

.comment {
  margin: 0 0 16px 0;
}

.form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--animation);
}

.form-comment:focus {
  border-color: var(--iris);
}

.form-comment::placeholder {
  color: var(--navyblue-modal);
}

.policy {
  margin: 0 0 24px 0;
}

.policy-agreement {
  display: inline-flex;
  align-items: center;
}

.policy-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  color: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 2px;
  margin: 0 8px 0 0;

  transition: background-color var(--animation), border var(--animation),
    fill var(--animation);
}

.checkbox:checked + .policy-agreement .policy-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.policy-checkbox-icon {
  width: 16px;
  height: 16px;
}

.policy-text {
}

.policy-link {
  color: var(--iris);
}

.order-form button {
  height: 56px;
  margin: 0 auto;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;
  width: 24px;
  height: 24px;

  border: 1px solid #0000001a;
  border-radius: 50%;

  background-color: var(--cornflower);
  transition: background-color var(--animation), border var(--animation);
}

.modal-button:hover,
.modal-button:focus {
  border: none;
  background-color: var(--ocean);
}

.modal-btn-icon {
  fill: var(--navyblue);
  transition: fill var(var(--animation));
}

.modal-button:hover .modal-btn-icon,
.modal-button:focus .modal-btn-icon {
  fill: var(--white);
}
